//fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

@mixin primary-font {
	font-family: 'Ubuntu', sans-serif;
}

@mixin secondary-font {
	font-family: 'Open Sans', sans-serif;	
}

@mixin label-font {
	color: $textGray;
	@include secondary-font;
	font-size: 1.2rem;
	line-height: 1.6rem;
}

//alignment

@mixin center-h {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin center-v {
	@include center-h;
	flex-direction: column;
}

@mixin fill-screen-bottomless {
	display: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100vh;
}

$phone: 450px;
$tablet: 700px;

@mixin small-media {
	@media screen and (max-width: $phone) { @content };
}

@mixin large-media {
	@media screen and (min-width: $phone) { @content };
}

@mixin tablet-only {
	@media screen and (min-width: $phone) and (max-width: $tablet) { @content };
}

@mixin tablet-and-smaller {
	@media screen and (max-width: $tablet) { @content };
}

@mixin tablet-and-larger {
	@media screen and (min-width: $tablet) { @content };
}

@mixin round-corners-small {
	border-radius: 0.2rem;
}

@mixin round-corners-medium {
	border-radius: 0.8rem;
}


//colors

$background: #E5E5E5;
$primary: #7354F0;
$secondary: #F7F7FF;
$headingColor: #311882;
$textBlack: #262627;
$textGray: #717181; //also back-arrow
$textWhite: #F7F7FF;
$accentYellow: #F9CC4D;
$accentGreen: #48C5B4;
$shadow: #EBE8ED;
